.profileView{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 50vh;
}
.profileView h1{
    text-align: center;
    flex-basis: 100%;
    margin: 2rem;
}