.profileView{
    /* list-style: none; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    min-height: 50vh;
    width: 80%;
    margin: 1rem auto;
}
.profileView h1{
    text-align: center;
    flex-basis: 100%;
    margin: 2rem;
}