.submitLog:hover{    
    margin-top:10px;
   width: 100%;
   border-radius: 0px 0px 5px 5px;
   border:0.5px solid grey;
   height: 30px;
   background-color: salmon;
   color: #fff;
}
.submitLog{    
    margin-top:10px;
   width: 100%;
   border-radius: 0px 0px 5px 5px;
   border:0.5px solid rgb(228, 94, 79);
   height: 30px;
   background-color:seashell;
   color: rgb(228, 94, 79);
   transition-duration: 0.5s
}
.RegistrationButton{ 
    width: 330px;   
    margin-top:10px;
   border-radius: 5px 5px 5px 5px;
   border:0.5px solid #76AFF2;
   height: 30px;
   background-color:seashell;
   color: #76AFF2;
   transition-duration: 0.5s
}

.RegistrationButton:hover{    
   margin-top:10px;
   border-radius: 5px 5px 5px 5px;
   border:0.5px solid grey;
   height: 30px;
   background-color: #76AFF2;
   color: #fff;
}
