button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  
}
button:focus{
  outline: 0;
  box-shadow: 0 0 3px 0.075rem #ced4da;
}
button[type="button"]:not(.btn-close) {
  background-color: #fff;
  border: 1px solid rgb(252, 145, 126);
  color: rgb(252, 145, 126);
  height: 40px;
}
button[type="button"]:not(.btn-close):hover {
  background-color: rgb(252, 145, 126);
  border-color: rgb(252, 145, 126);
  color: #fff;
}
button[type="button"]:not(.btn-close):active,
button[type="button"]:not(.btn-close).active {
  background-color: tomato;
  border-color: tomato;
  color: #fff;
}
button[type="submit"] {
  background-color: #fff;
  border: 1px solid rgb(131, 211, 131);
  color: rgb(131, 211, 131);
}
button[type="submit"]:hover {
  background-color: rgb(131, 211, 131);
  border-color: rgb(131, 211, 131);
  color: #fff;
}
button[type="reset"] {
  background-color: #fff;
  border: 1px solid rgb(138, 138, 138);
  color: rgb(138, 138, 138);
}
button[type="reset"]:hover {
  background-color: rgb(138, 138, 138);
  border: 1px solid rgb(138, 138, 138);
  color: #fff;
}



button[type="buttonListCheck"] {
  background-color: #fff;
  border: 1px solid rgb(102, 231, 111);
  color: rgb(102, 231, 111);
  border-radius:0px 10px 10px 0px;
  height: 40px;
  width: 50%;
}

button[type="buttonListCheck"]:hover {
  background-color: rgb(102, 231, 111);
  border-color: rgb(102, 231, 111);
  /* transform:translateX(2px) translateY(-2px); */
  /* box-shadow:  -2px 2px 0px rgb(78, 208, 87),
    2px -2px 0px #ffffff; */
  transition-duration:0.5s;
  color: #fff;
}
button[type="buttonListLike"] {
  background-color: #fff;
  border: 1px solid rgb(252, 145, 126);
  color: rgb(252, 145, 126);
  border-radius: 0px 0px 0px 0px;
  height: 40px;
  width: 50%;
}

button[type="buttonListLike"]:hover {
  background-color: rgb(252, 145, 126);
  border-color: rgb(252, 145, 126);
  /* transform:translateX(2px) translateY(-2px); */
  /* box-shadow:  -2px 2px 0px rgb(250, 122, 99),
    2px -2px 0px #ffffff; */
    transition-duration:0.5s;
  color: #fff;
}
button[type="submitSearch"] {
  background-color: #fff;
  border: solid 0.5px #B4B4B4;
  color:#B4B4B4;
  height: 40px;
  width: 40px;
  border-radius: 0px 10px 10px 0px;
  display: inline;
}
button[type="submitSearch"]:hover {
  background-color: lightgreen;
  border-color: lightgreen;
  color: #fff;
  
}


/* .outline-dark {
  color: #212529;
  border-color: #212529;
}
.outline-dark:hover {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}
.dark {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}
button.like {
  color: rgb(252, 145, 126);
} 
button.like:hover {
  color: #fff;
  background-color: rgb(252, 145, 126);
  border-color: rgb(252, 145, 126);
} */