button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button:focus{
  outline: 0;
  box-shadow: 0 0 3px 0.075rem #ced4da;
}
button[type="button"] {
  background-color: #fff;
  border: 1px solid rgb(252, 145, 126);
  color: rgb(252, 145, 126);
  height: 40px;
}
button[type="button"]:hover {
  background-color: rgb(252, 145, 126);
  border-color: rgb(252, 145, 126);
  color: #fff;
}
button[type="submitSearch"] {
  background-color: #fff;
  border: solid 0.5px #B4B4B4;
  color:#B4B4B4;
  height: 40px;
  width: 40px;
  border-radius: 0px 10px 10px 0px;
  display: inline;
}
button[type="submitSearch"]:hover {
  background-color: lightgreen;
  border-color: lightgreen;
  color: #fff;
  
}
button[type="submit"] {
  background-color: #fff;
  border: 1px solid rgb(131, 211, 131);
  color: rgb(131, 211, 131);
}
button[type="submit"]:hover {
  background-color: rgb(131, 211, 131);
  border-color: rgb(131, 211, 131);
  color: #fff;
}
button[type="reset"] {
  background-color: rgb(255, 78, 78);
  border: 1px solid rgb(255, 78, 78);
  color: black;
}
button[type="reset"]:hover {
  background-color: red;
  border: 1px solid red;
  color: black;
}




/* .outline-dark {
  color: #212529;
  border-color: #212529;
}
.outline-dark:hover {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}
.dark {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}
button.like {
  color: rgb(252, 145, 126);
} 
button.like:hover {
  color: #fff;
  background-color: rgb(252, 145, 126);
  border-color: rgb(252, 145, 126);
} */