input{
width: 150px;
height: 40px;
border:0.5px solid #B4B4B4;
border-radius: 10px 0px 0px 10px;
background: #ffffff;
box-shadow: inset 8px 8px 10px #e3e3e3,
            inset -8px -8px 10px #ffffff;
float: left;
}